<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n_webserviceSoap" />
        <binding name="Service1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.233/webservice/n_webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="n_webserviceSoap"
        contract="WYService.n_webserviceSoap" name="n_webserviceSoap" />
      <endpoint address="http://192.168.1.233/webservice1/Service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="TestService.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>
</configuration>