<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>

  <connectionStrings>

    <!--<add name="eHPS" connectionString="Data Source=oracle2;User Id=system;Password=aaaabbbccc;"/>-->
    <add name="eHPS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.101)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HIS1)));User Id=system;Password=aaaabbbccc;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>



  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />
    <assembly name="eHPS.Contract" />
    <assembly name="eHPS.WYServiceImplement" />
    <namespace name="eHPS.Contract" />
    <namespace name="eHPS.WYServiceImplement" />
    <container>
      <register type="IBasicInfo" mapTo="BasicInfoService" >
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>
      <register type="IAppointment" mapTo="AppointmentService" >
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>

      <register type="IInspection" mapTo="InspectionService" >
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>


      <register type="IPayment" mapTo="PaymentService" >
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>

    </container>
  </unity>
  
  
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off"
  internalLogFile="c:\temp\nlog-internal.log">
    <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue"/>
    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
    <targets async="true">
      <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
      <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"/>
    -->
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}.txt"
        layout="&#xD;&#xA;${newline}&#xD;&#xA;
        发生时间：${longdate} ${newline}&#xD;&#xA;
        日志类型：${level:uppercase=true} ${newline}&#xD;&#xA;
        日志名称：${logger} ${newline}&#xD;&#xA;
        调用栈源：${callsite:className=true}${newline}&#xD;&#xA;
        错误信息：${message}${newline}&#xD;&#xA;
        ====================================================================================================&#xD;&#xA;"/>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f"/>
    -->
      <logger minlevel="Warn" writeTo="file"></logger>
    </rules>
  </nlog>

</configuration>