<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="baseUrl" value="http://localhost:51797/"/>
    <add key="interval" value="10000"/>
    <!-- AppID -->
    <add key="appId" value="1" />

    <!--_AppIDSecret-->
    <add key="appIdSecret" value="csy" />
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n_webserviceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.233/webservice/n_webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="n_webserviceSoap"
        contract="WFService.n_webserviceSoap" name="n_webserviceSoap" />
    </client>
  </system.serviceModel>
</configuration>