<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="baseUrl" value="http://localhost:51797/"/>
    <add key="interval" value="10000"/>
    <!-- AppID -->
    <add key="appId" value="1" />

    <!--_AppIDSecret-->
    <add key="appIdSecret" value="csy" />


    <add key="address" value="192.168.1.180"/>

    <add key="port" value="9000"/>
    
  </appSettings>



  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />
    <assembly name="eHPS.Contract" />
    <assembly name="eHPS.CrossCutting.NetFramework" />
    <assembly name="eHPS.WYServiceImplement" />
    <namespace name="eHPS.Contract" />
    <namespace name="eHPS.WYServiceImplement" />
    <namespace name="eHPS.CrossCutting.NetFramework" />
    <namespace name="eHPS.CrossCutting.NetFramework.ExceptionHandler" />
    <container>
      <register type="IBasicInfo" mapTo="BasicInfoService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>

      <register type="IPayment" mapTo="PaymentService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="LoggingInterceptionBehavior" />
      </register>

    </container>
  </unity>


  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>