<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>

  <connectionStrings>

    <!--<add name="eHPS" connectionString="Data Source=oracle2;User Id=system;Password=aaaabbbccc;"/>-->
    <add name="eHPS"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.101)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HIS1)));User Id=system;Password=aaaabbbccc;"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>


  <appSettings>
    <add key="BaseUrl" value="http://192.168.1.150/NeweHealthServices/"/>
    <add key="Interval" value="30000"/>


    <!-- AppID -->
    <add key="AppID" value="1" />

    <!--_AppIDSecret-->
    <add key="AppIDSecret" value="csy" />


    <add key="Address" value="192.168.1.180"/>

    <add key="Port" value="9000"/>
    
  </appSettings>



  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration"/>
    <assembly name="eHPS.Contract"/>
    <assembly name="eHPS.CrossCutting.NetFramework"/>
    <assembly name="eHPS.WYServiceImplement"/>
    <namespace name="eHPS.Contract"/>
    <namespace name="eHPS.WYServiceImplement"/>
    <namespace name="eHPS.CrossCutting.NetFramework"/>
    <namespace name="eHPS.CrossCutting.NetFramework.ExceptionHandler"/>
    <container>
      <register type="IBasicInfo" mapTo="BasicInfoService">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior"/>
      </register>

      <register type="IPayment" mapTo="PaymentService">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="LoggingInterceptionBehavior"/>
      </register>

    </container>
  </unity>


<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n_webserviceSoap" receiveTimeout="00:01:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.233/webservice/n_webservice.asmx" binding="basicHttpBinding" bindingConfiguration="n_webserviceSoap"
          contract="HISService.n_webserviceSoap" name="n_webserviceSoap"/>
    </client>
  </system.serviceModel>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client"/>
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
</DbProviderFactories>
</system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>